#lev {
    background-color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#slon {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
}
#tygr {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}